**/.idea/*
**/__pycache__/*
**/venv/*
*.pyc
evyat.txt
HeadEvyaLuis.txt
HeadEvyaLuis_omer.txt
LuisOutHybrid.txt
hugefile_strands_in.txt
mine_strands_in.txt
errors_shuffled.txt
output.txt
output-results.txt
output-results-fail.txt
output-results-success.txt
histogram.txt
histogram.png