# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/


dnaSimulator.iml
encodings.xml
modules.xml
vcs.xml
workspace.xml
